<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Justin Bellucci - Selected Works</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v7.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Custom styles for this template -->
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="/static/assets/navbar-logo.svg" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#built_this">How I Built This</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Justin Bellucci</div>
                <div class="masthead-subheading">I like machine learning, software engineering, and big mountains.</div>
                <br>
                <br>
                <a class="btn btn-primary btn-xl text-uppercase" href="#projects">Explore Projects</a>
            </div>
        </header>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="projects">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Projects</h2>
                    <h3 class="section-subheading text-muted">A handpicked selection of my favorite projects.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="{{ url_for('dog_detector') }}" target="_blank">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/images/dog_classifier_icon.svg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Dog Breed Classifier</div>
                                <div class="portfolio-caption-subheading text-muted">CNN transfer learning, PyTorch, OpenCV</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="https://github.com/justinbellucci/yolo3-object-detection" target="_blank">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/images/Yolo_small.gif" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Video Object Detection</div>
                                <div class="portfolio-caption-subheading text-muted">C++, OpenCV and Yolo neural network</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="{{ url_for('sentiment_analysis') }}" target="_blank">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/images/sentiment_icon.svg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Sentiment Analysis</div>
                                <div class="portfolio-caption-subheading text-muted">AWS training and deployment pipeline</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="https://github.com/justinbellucci/Unscented-Kalman-Filter" target="_blank">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/images/UKF_small.gif" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Unscented Kalman Filter</div>
                                <div class="portfolio-caption-subheading text-muted">C++, PCL, Eigen, CMake, Lidar and Radar </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="{{ url_for('project_pavilion') }}" target="_blank">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/images/pavilion_small.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Honeybee Pavilion</div>
                                <div class="portfolio-caption-subheading text-muted">Digital fabrication installation</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="https://www.hivetechsolutions.com" target="_blank">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/images/HTS_small.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">HiveTech</div>
                                <div class="portfolio-caption-subheading text-muted">Hardware and Software Design</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How I built This -->
        <section class="page-section" id="built_this">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">How I Built This</h2>
                    <h3 class="lead">This website is part portfolio and part web application that allows for user interactivity. 
                                    The front end is built using HTML, Flask, Bootstrap, JQuery, and D3 and is deployed 
                                    on AWS EC2 using Elastic Beanstalk. Git and AWS CodePipeline are integrated for version control 
                                    and continuous deployment. The Machine Learning portions of the site are built using AWS 
                                    Sagemaker, PyTorch, and XGBoost, then deployed to a serverless endpoint. A REST API 
                                    and lambda function work together to serve the predictions from the model to the client.</h3>
                </div>
                <img class="img-fluid" src="/static/images/architecture.svg" alt="..." />
            </div>
        </section>
        <!-- About Me -->
        <section class="page-section bg-light" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About Me</h2>
                    <figure class="text-center">
                        <blockquote class="blockquote">
                          <p>"Make friends with pain, and you will never be alone."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Ken Chlouber</figcaption>
                    </figure>
                    <br>
                </div>
            </div>
            <div class="container marketing" id="featurette_projects">
                <!-- <hr class="featurette-divider"> -->
                <div class="row featurette p-4 pb-4 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                    <div class="col-md-7 p-3 p-lg-4">
                        <h2 class="featurette-heading pt-lg-3 pb-4">Software engineering is hard, <span class="text-muted">so is running 100 miles.</span></h2>
                        <p class="lead">I am always looking for the next challenge and exploring what could be possible,        
                                        even if it means being a little uncomfortable along the way. The 
                                        <a class="link-primary" href="https://www.leadvilleraceseries.com" target="_blank">Leadville 100</a>  
                                        run seemed impossible, until I crossed the finish line. That is what I love about machine 
                                        learning and running big mountains. They seem impossible, until they aren’t.</p>
                                        <p class="lead">Feel free to dowload my <a class="link-primary" href="https://drive.google.com/uc?export=download&id=11tBvl5ONPHgSPtYHYAyXPMnOL0CHqm-L">current resume.</a></p> 
                    </div>
                    <div class="col-md-5 pb-4 pe-lg-5">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#about_01_modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/images/about/LT100.jpg" alt="..." />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer  -->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Justin Bellucci 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="https://gitlab.com/justinbellucci" target="_blank"><i class="fab fa-gitlab"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/justinbellucci" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/justin-bellucci/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="fas fa-skiing fa-2x"></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- About 01 Modal-->
        <div class="portfolio-modal modal fade" id="about_01_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal fa fa-times" data-bs-dismiss="modal"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <img class="img-fluid d-block mx-auto" src="/static/images/about/LT100.jpg" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Custom Javascript -->
        <script src="static/scripts.js" type="text/javascript"></script>
    </body>
</html>
